<html>
    <head>
        <title>Pryze</title>
    </head>
    <body>
        <h1>
            Welcome to Pryze!
        </h1>
            <div class='form'>
                <form method='POST' action=''>
                    <p>
                        Please enter your name below to determine what Pryzes! are in store.
                    </p>   
                    {{ form.hidden_tag() }}
                    {{ form.firstname.label }}
                    {{ form.firstname }}
                    {% if form.firstname.errors %}
                    <div class='error'>
                    {% for error in form.firstname.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                    {% endif %}
                    {{ form.submit }}
                </form>
            </div>
            <p>
                Ticket number: {{ticket}}
            </p>
            <p>
                {{firstname}}, you have been entered into a Pryze raffle to WIN:
            </p>
            <p>
                A {{brand}} {{model}}, Good luck!
            </p>
    </body>
</html>